body {

  padding-top: 50px;

  font-family: 'Open Sans', sans-serif;
  color: $secondary-color;

  #icon {
    width: 100px;
    height: auto;

    margin-bottom: 30px;
  }

  h1 {
    margin-bottom: 50px;
  }

  h2 {
    color: $primary-color;
    font-weight: 400;
    font-size: 30px;
    margin: 8px 0 20px;

    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    line-height: 40px;
    position: relative;
    text-transform: uppercase;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-weight: 700;
  }

  p {
    font-size: 14px;
    line-height: 1.75;

    margin-top: 20px;
    margin-bottom: 20px;
  }
}

footer {

  border-top: 1px solid rgba(0,0,0, 0.2);

  margin-top: 40px;

  display: flex;
  justify-content: center;


  ul {
    text-align: center;
  }

  li {
    list-style: none;
    float: left;
    padding: 40px;
  }
}